#==============
#去除所有文件夹
#==============
Library/
obj/
Temp/
UnityVS/

#================
#去除项目文件类型
#================
*.sln
*.userprefs
*.suo
*.csproj
*.pidb

#================
#去除其他文件类型
#================
Thumbs.db