#==============
#去除文件夹
#==============
Library/
obj/
Temp/
UnityVS/
bin/
Properties/
dll/

#================
#去除项目文件类型
#================
*.sln
*.userprefs
*.suo
*.csproj
*.pidb
*.manifest

#================
#去除其他文件类型
#================
Thumbs.db